.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  height: 115px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}


.nav-items{
    padding: 0px 20px;
}

.res-card{
  width: 190px;
  height: auto;
  padding: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.res-card:hover{
  border: 1px solid black;
  cursor: pointer;
}

.res-logo{
  width: 100%;
  height: 130px;
  border-radius: 8px;
}

.res-card h3 {
  margin: 3px 0px;
}

.res-card h4 {
  margin: 10px 0px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.filter button.filter-btn {
  margin: 20px;
} 


.shimmer-card{
  height:295px;
  width:190px;
  background-color: #f0f0f0;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}

li button.login {
  padding: 8px;
}

.filter {
  display: flex;
}

.filter .search {
  margin-top: 19px;
  margin-left: 20px;
}